/*
	Breadcrumbs
 */

.breadcrumbs {
  align-items: center;
  display: flex;

  @include media-breakpoint-down(sm) {
    padding: 10px 0;
    white-space: nowrap;
    overflow: auto;
  }

  &__item {
    color: $gray-600;// theme-color('primary');
    font-size: 13px;
    margin: 0 0 0 10px;
    padding: 0 0 0 20px;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: '→';
      left: 0;
      position: absolute;
      top: 0
    }

    &:first-child {
      margin-left: 0;
      padding-left: 0;

      &:after {
        display: none
      }
    }
  }
}
