/*
 Core SCSS
 ========
*/

@import "typo";
@import "header";
@import "variable";
@import "footer";
@import "project";

body {
  padding: 0;
  margin: 0;
  font-family: Monospace, sans-serif;
  font-size: 14px;
  background: $body;
  color: $secondary;

  @media (max-width: $width) {
    padding: 0 10px;
  }
}

.container {
  max-width: $width;
  margin: 0 auto;

  a {
    color: $primary;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
